/* * ------------------------------------ * */
/** 		   Variables
/* * ------------------------------------ * */

:root {
	--color-bg: #1e1e1e;
	--color-surface-blur: rgba(255, 255, 255, 0.90);

	--shadow: 0 0px 15px rgba(0, 0, 0, 0.4);

	--corner: 16px;
}