/* * ------------------------------------ * */
/** 		   Variables
/* * ------------------------------------ * */

:root {
	--color-bg: #f0f0f0;
	--color-bg-sub: #ffffff;
	--color-text-bright: #1e1e1e;
	--color-text-dark: #2e2e2e;
	--color-element-blur: rgba(229, 87, 30, 0.15);
	--color-element: #E5571E;

	--shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
	--corner-xl: 16px;
	--corner-sm: 8px;
	--text-font: 'Poppins', sans-serif;
	
	--sidebar-expanded: 240px;
	--sidebar-collapsed: 64px;
	--transition-speed: 0.3s;
	--transition-speed-span: 0.12s;
}

body.dark-theme {
	--color-bg: #1e1e1e;
	--color-bg-sub: #2b2b2b;
	--color-text-bright: #d0d0d0;
}
